.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  background: $white;
  padding-bottom: 5rem;



  h2 {
    font-weight: 400;
    letter-spacing: 0.8rem;
    font-size: 4.8rem;
    align-self: flex-start;
    margin: 5rem 15rem 5rem;
    z-index: 4;
  }

  @media (max-width: $mobile) {
    h2 {
      margin: 3rem 0;
      font-size: 3.6rem;
      align-self: center;
    }
  
    > div {
      flex-direction: column;
      padding: 0 4rem;
  
      > div {
        width: 40rem;
        height: 60rem;
        align-self: center;
  
        & + div {
          margin-top: 3rem;
        }
      }
    }
  }
}


