.discipline{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  h2{
    font-weight: 400;
    letter-spacing: 0.8rem;
    font-size: 6.4rem;
    align-self: flex-start;
    margin: 10rem 10rem 5rem;
  }

  > div{
    display: flex;
    justify-content:space-between;
    padding: 0 10rem;
    width: 100%;
    
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $primary;
      border-radius: 1rem;


      img {
        padding: 1.4rem;
        border-radius: 1rem;
      }
    }
  }
}