// Variables

$primary-dark: #d09680;
$primary: #efcbbd;
$primary-alpha: #efcbbda4;
$primary-light: #fbefec;
$gray: #cabfbd;
$gray-light: #efefef;
$white: #fefefe;
$black: #191919;

$mobile: 800px;

// Globals

:root {
  font-size: 62.5%;

  @media (max-width: 1024) {  
    font-size: 60%;
  }

  @media (max-width: 900px) {  
    font-size: 58%;
  }

  @media (max-width: $mobile) { 
    font-size: 56%;
  }

  @media (max-width: 600px) {  
    font-size: 50%;
  }

  @media (max-width: 400px) {  
    font-size: 44%;
  }

  @media (max-width: 350px) {  
    font-size: 39%;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

@import "./partials/header.scss";

body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11.8rem;

  .home {
    background: $primary-light 
      url("./assets/background-home.png") 
      no-repeat 
      top
      15rem 
      center;
    background-size: 60rem;
    height: 60rem;
    width: 100vw;
  }

  @import "./partials/about.scss";
  @import "./partials/matter.scss";

  @media (max-width: $mobile) {
    margin-top: 8rem;
    transition: margin-top 0.35s, filter 0.35s;

    &.header-open {
      margin-top: calc(22rem + 8rem);
      filter: brightness(0.4);
    }

    .home {
      background: $primary-light 
        url("./assets/background-home.png") 
        no-repeat
        top 
        10em 
        center;
      background-size: 30rem;
      height: 45rem;
    }
  }
}
